@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* font-family: 'Work Sans', sans-serif;
Farben: #2e2e2e / #867772 / rgb(234, 204, 194) / #ebccc2 / #fff / rgb(115, 115, 115) */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #2e2e2e;
    font-family: 'Work Sans', sans-serif;
}

/* -------------Header---------------- */
header nav a {
    text-decoration: none;
    color: #867772;
    font-weight: 400;
    font-size: 0.8rem;
    margin-right: 2%;
}

header nav a:hover {
    border-bottom: 1px solid rgb(234, 204, 194);
    color: rgb(234, 204, 194);
    transition: 1s;
}
header nav a:nth-of-type(1) {
   margin-left: 53%;
   margin-right: 4%;
}
header nav a:nth-of-type(5) {
    margin-left: 2%;
}
header nav img {
    width: 30px;  
    margin-left: 3%;
}
header nav {
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 10px;
}
header nav figure {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Aside */
header aside {
    position: fixed;
    top: 25%;
    left: 3%;
}
header aside a {
   text-decoration: none;
   color: #867772;
   font-size: 0.9rem;
   font-weight: 500;
   text-transform: uppercase;
}
header aside a:hover {
    color: #fff;
    transition: 1s;
}
header aside a:nth-of-type(4) {
    color: #fff;
}
header aside a::before {
    content: "";
    border: 1px solid transparent;
    border-radius: 45px;
    
    content: "\25EF";
    color: #867772;
    padding: 2px;
    margin-right: 30px;
}
header aside a:nth-of-type(4)::before {
    content: "";
    border: 2px solid #fff;
    border-radius: 45px;
    width: 20px;
    height: 20px;

    content: "\25EF";
    color: #867772;
    padding: 2px;
    margin-right: 30px;
}

.line {
    content: "";
    height: 50px;
    width: 1px;
    background: #867772;
    margin-left: 7%;
    margin-bottom: 10%;
    margin-top: 5%;
}

/* ----------Main---------------------- */
#grid {
    margin-top: 10%;
    display: grid;
    grid-template-columns: 20% 30% 30% 20%;
}
#video {
    grid-column: 2/-1;
}
#article1 {
    grid-column: 2/ -2;
    margin-top: 15%;
}
#article1 a {
    color: rgb(115, 115, 115);
    text-decoration: none;
    font-size: 0.7rem;
    border: 1.5px solid rgb(115, 115, 115);
    border-radius: 2px;
    padding: 2px 5px;
}
#article1 p {
    margin-top: 1%;
    margin-bottom: 7%;
}
#article2 {
    display: flex;
    grid-column: 2/-2;
    justify-content: center;
    align-items: center;
}
#article2 img {
    width: 100%;
}
#article2 article {
    margin-left: 2%;
    width: 100%;
}
#article3 {
    display: flex;
    grid-column: 2/-2;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
}
#article3 article {
    width: 88%;
    padding-left: 2%;
}
#article3 img {
    width: 100%;
}
h5 {
    color: #ebccc2;
    font-weight: 400;
    margin-bottom: 1%;
}
h1 {
    color: #ebccc2;
    font-weight: 300;
    margin-bottom: 2%;
    font-size: 2rem;
}
p {
    color: rgb(115, 115, 115);
    font-size: 1rem;
    line-height: 1.7rem;
}


/* ----- media queries----- */
@media screen and (max-width: 1200px) {
    header nav a:nth-of-type(1) {
        margin-left: 45%;
     }
     #article2 img {
        width: 80%;
    }
    #article3 img {
        width: 80%;
        margin-left: 8%;
    }
}

/* Tablet */
@media screen and (max-width: 768px) {
    header nav a:nth-of-type(1) {
        margin-left: 40%;
     }
    header aside {
        top: 15%;
    }   
    header aside a {
        font-size: 0.5rem;
        font-weight: 300;
    }
    header aside a::before {
        margin-right: 10px;
    }
    header aside a:nth-of-type(4)::before {
        margin-right: 10px;
    }
    .line {
        height: 20px;
        width: 1px;
    }
    #article2 {
        grid-column: 2/-1;
    }
    #article2 article {
        margin-left: 0;
        margin-right: 1%;
    }
    #article2 article p {
        line-height: 1.2rem;
    }
    #article2 img {
        width: 80%;
        margin-left: 3%;
    }
    #article3 {
        grid-column: 2/-1;
    }
    #article3 article {
        margin-right: 0;
        margin-left: 1%;
    }
    #article3 article p {
        line-height: 1.2rem;
    }
}

/* Mobile */
@media screen and (max-width: 576px) {
    header nav a:nth-of-type(1) {
        margin-left: 10%;
     }
     header nav a {
        font-size: 0.5rem;
    }
    header aside {
        top: 10%;
    }   
    #video {
        margin-top: 15%;
        margin-left: 5%;
    }
    #article1 {
        margin-left: 7%;
    }
    #article1 h5 {
        font-size: 0.7rem;
    }
    #article1 h1 {
        font-size: 1.3rem;
    }
    #article1 p {
        font-size: 0.7rem;
        line-height: 0.9rem;
        margin-top: 5%;
    }
    #article2 {
        flex-direction: column-reverse;
    }
    #article2 article {
        margin-top: 5%;
    }
    #article2 article h1 {
        font-size: 1.3rem;
    }
    #article2 article p {
        font-size: 0.9rem;
        margin-bottom: 3%;
    }
    #article3 {
        flex-direction: column;
    }
    #article3 article {
        margin-top: 5%;
        width: 100%;
        margin-right: 0;
        padding-left: 0;
    }
    #article3 article h1 {
        font-size: 1.3rem;
    }
    #article3 article p {
        font-size: 0.9rem;
        margin-bottom: 3%;
    }
    #article3 img {
        padding-right: 5%;
        
    }
}
