@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* font-family: 'Work Sans', sans-serif;
Farben: #2e2e2e / #867772 / rgb(234, 204, 194) / #ebccc2 / #fff / rgb(115, 115, 115) */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #2e2e2e;
    font-family: 'Work Sans', sans-serif;
}

/* -------------Header---------------- */
header nav a {
    text-decoration: none;
    color: #867772;
    font-weight: 400;
    font-size: 0.8rem;
    margin-right: 2%;
}
header nav a:nth-of-type(1) {
    color: #fff;
    border-bottom: 1px solid #fff;
}
header nav a:hover {
    border-bottom: 1px solid rgb(234, 204, 194);
    color: rgb(234, 204, 194);
    transition: 1s;
}
header nav a:nth-of-type(1) {
   margin-left: 53%;
   margin-right: 4%;
}
header nav a:nth-of-type(5) {
    margin-left: 2%;
}
header nav img {
    width: 30px;  
    margin-left: 3%;
}
header nav {
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 10px;
}
header nav figure {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Aside */
header aside {
    position: fixed;
    top: 25%;
    left: 3%;
}
header aside a {
   text-decoration: none;
   color: #867772;
   font-size: 0.9rem;
   font-weight: 500;
   text-transform: uppercase;
}
header aside a:hover {
    color: #fff;
    transition: 1s;
}

header aside a::before {
    content: "";
    border: 1px solid transparent;
    border-radius: 45px;
    
    content: "\25EF";
    color: #867772;
    padding: 2px;
    margin-right: 30px;
}
.line {
    content: "";
    height: 50px;
    width: 1px;
    background: #867772;
    margin-left: 7%;
    margin-bottom: 10%;
    margin-top: 5%;
}

/* --------------Main---------------- */

main {
    margin: 7% 0 5% 25%;
}
main h1 {
    color: #ebccc2;
    font-weight: 400;
    margin-bottom: 2%;
}
main p {
    color: rgb(115, 115, 115);
    margin-bottom: 2%;
}
main input {
    background: #2e2e2e;
    color: #ebccc2;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #ebccc2;
    display: block;
    margin-bottom: 2%;
    outline-style: none;
}
main input:hover {
    background: #ebccc2;
    color: #2e2e2e;
    transition: 1s;
}

#contact {
    margin-top: 5%;
}
#text {
   margin-top: 1%;
}
#name {
    margin-top: 1%;
}
label {
    color: rgb(115, 115, 115);
    padding-bottom: 5%;
}
#message h2 {
    color: rgb(115, 115, 115);
    font-weight: 400;
    font-size: 1rem;
}
textarea {
    display: block;
    margin-bottom: 2%;
    border-style: none;
    border-radius: 5px;
    border: 1px solid #ebccc2;
    outline-style: none;
    background: #2e2e2e;
    color: rgb(115, 115, 115);
    padding: 1%;
}
#map {
    display: flex;
}
#adress {
    display: flex;
    flex-direction: column;
    margin-left: 2%;
}
#adress h5 {
    color: #ebccc2;
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 4%;
    margin-top: 5%;
}

#overlay {
    position: fixed;
    display: none;
    width: 30%;
    height: 40%;
    top: 15%;
    left: 30%;
    background: rgba(115, 115, 115,0.9);
    border-radius: 5px;
    z-index: 2;
    cursor: pointer;
  }
#overlay h2 {
    color: #ebccc2;
    font-weight: 300;
    font-size: 1.3rem;
    padding: 5% 3%;
    margin-left: 2%;
}
#overlay input {
    margin: 5%;
}
.line-break {
    display: block;
}


/* ----- media queries----- */
@media screen and (max-width: 1200px) {
    header nav a:nth-of-type(1) {
        margin-left: 30%;
     }
}

/* Tablet */
@media screen and (max-width: 768px) {
    header nav a:nth-of-type(1) {
        margin-left: 20%;
     }
     #contact {
         width: 50%;
     }
     #map {
        flex-direction: column;
        margin-top: 5%;
     }
}

/* Mobile */
@media screen and (max-width: 576px) {
    header nav a {
        font-weight: 300;
        font-size: 0.5rem;
    }
    header nav a:nth-of-type(1) {
       margin-left: 12%;
    }
   
     /* Aside */
    header aside {
        top: 15%;
    }   
    header aside a {
        font-size: 0.5rem;
        font-weight: 300;
    }
    header aside a::before {
        margin-right: 10px;
    }
    header aside a:nth-of-type(5)::before {
        margin-right: 10px;
    }
    .line {
        height: 20px;
        width: 1px;
    }
    #subscribe {
        margin-top: 15%;
    }
    #overlay {
        width: 50%;
        left: 15%;
      }
    #map iframe {
        width: 100;
    }
}
