@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* font-family: 'Work Sans', sans-serif;
Farben: #2e2e2e / #867772 / rgb(234, 204, 194) / #ebccc2 / #fff / rgb(115, 115, 115) */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #2e2e2e;
    font-family: 'Work Sans', sans-serif;
}

/* -------------Header---------------- */
header nav a {
    text-decoration: none;
    color: #867772;
    font-weight: 400;
    font-size: 0.8rem;
    margin-right: 2%;
}

header nav a:hover {
    border-bottom: 1px solid rgb(234, 204, 194);
    color: rgb(234, 204, 194);
    transition: 1s;
}
header nav a:nth-of-type(1) {
   margin-left: 53%;
   margin-right: 4%;
}
header nav a:nth-of-type(5) {
    margin-left: 2%;
}
header nav img {
    width: 30px;  
    margin-left: 3%;
}
header nav {
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 10px;
}

/* ----------Main---------------------- */
/* Aside */
main aside {
    position: fixed;
    top: 25%;
    left: 3%;
}
main aside a {
   text-decoration: none;
   color: #867772;
   font-size: 0.9rem;
   font-weight: 500;
   text-transform: uppercase;
}
main aside a:hover {
    color: #fff;
    transition: 1s;
}
main aside a:nth-of-type(3) {
    color: #fff;
}
main aside a::before {
    content: "";
    border: 1px solid transparent;
    border-radius: 45px;
    
    content: "\25EF";
    color: #867772;
    padding: 2px;
    margin-right: 30px;
}
main aside a:nth-of-type(3)::before {
    content: "";
    border: 2px solid #fff;
    border-radius: 45px;
    width: 20px;
    height: 20px;

    content: "\25EF";
    color: #867772;
    padding: 2px;
    margin-right: 30px;
}

.line {
    content: "";
    height: 50px;
    width: 1px;
    background: #867772;
    margin-left: 7%;
    margin-bottom: 10%;
    margin-top: 5%;
}
/* Section */
#experience {
    display: flex;
    min-height: 100vh;
}
#bild-experience {
    width: 145%;
    background: url(../img/section-experience-1.jpg) center / cover no-repeat;
}
#experience article {
    width: 90%;
    margin-top: 7%;
    margin-right: 10%;
    margin-left: 3%;
}
#experience article h1 {
    color: #ebccc2;
    font-weight: 300;
    font-size: 2.2rem;
}

#experience article p {
    color: rgb(115, 115, 115);
    margin-top: 20%;
    line-height: 1.7rem;
}
#span-block {
    padding-bottom: 5%;
}
.line-break {
    display: block;
    padding-bottom: 4%;
}

/* ----- media queries----- */
@media screen and (max-width: 1200px) {
    header nav a:nth-of-type(1) {
        margin-left: 50%;
     }
}

/* Tablet */
@media screen and (max-width: 768px) {
    header nav a:nth-of-type(1) {
        margin-left: 40%;
     }
    #experience {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    #experience article {
        width: 70%;
        margin-left: 25%;
        margin-bottom: 10%;
    }
    #experience article p {
        margin-top: 10%;
        line-height: 1.5rem;
    }
    #bild-experience {
        width: 100%;
        min-height: 80vh;
    }
}

/* Mobile */
@media screen and (max-width: 576px) {
    header nav a {
        font-weight: 300;
        font-size: 0.5rem;
    }
    header nav a:nth-of-type(1) {
       margin-left: 10%;
    }
    #bild-experience {
        min-height: 50vh;
    }
    #experience article h1 {
        font-size: 1.8rem;
    }
    #experience article p {
        margin-top: 10%;
        font-size: 0.7rem;
        line-height: 1rem;
    }
    
     /* Aside */
    main aside {
        top: 15%;
    }   
    main aside a {
        font-size: 0.5rem;
        font-weight: 300;
    }
    main aside a::before {
        margin-right: 10px;
    }
    main aside a:nth-of-type(3)::before {
        margin-right: 10px;
    }
    .line {
        height: 20px;
        width: 1px;
    }
}